#For the future, I will need to open a terminal into the backend folder and then use uv run main.py and it will automatically create or use the venv and download neccessary packages.

openmeteo-requests
requests-cache
retry-requests
pandas
numpy
flask
flask_cors
gunicorn