@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.nav-bar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--color-background);
}

.nav-item {
  float: left;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.large-text-input {
  border-radius: 14px;
  width: 50vw;
  height: 8vh;
  font-size: 25px;
}

input.large-text-input {
  padding: 15px;
}

.center-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
